# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# .DS_Store 파일 거르기
.DS_Store

# Zone.Identifier 파일 거르기
*/Zone.Identifier

# ignore idea settings
.idea/

# ignore vscode settings
.vscode/
